<ul class="tasks-list">
  <li class="single-task">
    <!-- Task completion button -->
    <button *ngIf="!task.done" type="button" class="task-status-btn" (click)="toggleTaskCompletion(task)">
      <img src="assets/not-done.svg" alt="complete button">
    </button>
    <!-- Task undo button -->
    <button *ngIf="task.done" type="button" class="task-status-btn" (click)="toggleTaskCompletion(task)">
      <img src="assets/done.svg" alt="complete button">
    </button>
    <!-- Task description -->
    <label *ngIf="!task.editable" class="single-task-description" [ngClass]="{'completed-task': task.done}" (click)="startEditingTask(task)">{{ task.description }}
    </label>
    <!-- Edit task description -->
    <input *ngIf="task.editable" class="single-task-description" type="text" [(ngModel)]="task.description" (blur)="finishEditingTask(task)"
      (keyup.enter)="finishEditingTask(task)" maxlength="10">
    <!-- Remove task button -->
    <button type="button" class="remove-btn" (click)="deleteTask(task)">
      <img src="assets/remove.svg" alt="remove button">
    </button>
    <!-- Divider line -->
    <div class="divider"></div>
  </li>
</ul>