<div class="login">

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="center">
      <h1>Register</h1>
    </div>

    <div class="single-list">
      <div class="single-list-header">
        <input class="new-list" type="email" autocomplete="email" [(ngModel)]="$email" name="email" required #email="ngModel" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email required
        </div>

      </div>
    </div>


    <div class="single-list">
      <div class="single-list-header">
        <input class="new-list" type="password" autocomplete="current-password" [(ngModel)]="$password" name="password" required
          #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password required
        </div>
      </div>
    </div>

    <div class="login-btn">
      <input type="submit" [disabled]="!loginForm.form.valid" />
    </div>
  </form>
</div>